<div fxLayout="row" fxLayoutAlign="space-around center">
    <div *ngFor="let activityBlock of activityBlocks" cdkDropList [cdkDropListData]="activityBlock.activities"
        class="block-list" (cdkDropListDropped)="drop($event, activityBlock)">
        <h2 class="activity-block-label">{{activityBlock.label}}</h2>
        <div class="block-box" *ngFor="let activity of activityBlock.activities" cdkDrag>
            {{time_convert(activity.startHour)}} - {{time_convert(activity.endHour)}}
            <br>
            ({{time_convert(activity.duration)}})
        </div>
    </div>
</div>