<div fxLayout="row" fxLayoutAlign="space-around start">
    <div *ngFor="let activityBlock of activityBlocks" cdkDropList [cdkDropListData]="activityBlock.activities"
        class="block-list" (cdkDropListDropped)="drop($event, activityBlock)">
        <h2 class="activity-block-label">{{activityBlock.label}}</h2>
        <div class="block-box" *ngFor="let activity of activityBlock.activities" cdkDrag>
            <div>
                {{time_convert(activity.startHour)}}
            </div>
            <div fxLayout="row" class="text-align-center">
                <div fxFlex="80" class="margin-auto">
                    {{ activity.description ? activity.description : LANG.GENERAL.WITHOUT_DESCRIPTION}}
                </div>
                <div *ngIf="!isPreview" fxFlex="20">
                    <button mat-mini-fab aria-label="Modifier description" (click)="openActivityDescDialog(activity)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </div>
            <div *ngIf="showActDuration" fxLayout="row" class="text-align-center">
                <p fxFlex="80">
                    ({{time_convert(activity.duration)}})
                </p>
            </div>
            <div>
                {{time_convert(activity.endHour)}}
            </div>
        </div>
    </div>
</div>