<h1 mat-dialog-title>Saisissez les détails de l'activité</h1>
<div mat-dialog-content [formGroup]="form">
    <div *ngIf="isFirst">
        <h4>Saisissez l'heure du début des activités</h4>
        <div mat-dialog-content>
            <div id="time-picker">
                <input [ngxTimepicker]="toggleTimepicker" formControlName="startHour" [format]="24">
                <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
            </div>
        </div>
    </div>
    <h4>Saisissez la durée des activités</h4>
    <div mat-dialog-content>
        <p>Durée : {{ convertToHour(form.get('duration').value) }} *</p>
        <mat-slider thumbLabel [displayWith]="convertToHour" formControlName="duration" [displayWith]="formatLabel"
            tickInterval="0.25" min="0" max="24" step="0.25" required></mat-slider>
    </div>
    <h4>Saisissez la description de l'activité</h4>
    <mat-form-field class="width-100">
        <textarea formControlName="description" matInput placeholder="Description" cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"></textarea>
    </mat-form-field>
    <div>
        <h4>Saisissez le materiel de l'activité</h4>
        <div fxLayout="column" fxLayoutAlign="space-around start" formArrayName="materials">
            <div *ngFor="let materialControl of getMaterials().controls; let i = index" formGroupName="{{i}}"
                fxLayout="row" fxLayoutAlign="space-around start">
                <mat-form-field fxFlex="25">
                    <input matInput type="number" placeholder="Quantité" formControlName="amount" required>
                </mat-form-field>
                <mat-form-field fxFlex="40">
                    <input matInput placeholder="{{'Élément ' + (i+1)}}" formControlName="label" required>
                </mat-form-field>
                <div fxFlex="10">
                    <button mat-raised-button color="warn" (click)="deleteMaterial(i)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
            <button mat-raised-button color="warn" (click)="onAddMaterial()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button [disabled]="form.invalid" (click)="save()" cdkFocusInitial>Ok</button>
</div>